{% load staticfiles %}

{% block sidecontact-ru %}

    <div class="small-12 columns">
        <div class="sidebar-b">
            <p class="centered" style="margin-bottom: 5px;">
                "Oguzkent" Oteli
            </p>
            <p class="centered small-font" style="margin-bottom: 5px;">
                Türkmenistan, 744000, Aşgabat<br>Bitarap Türkmenistan şaýoly, 231
            </p>
            <hr style="margin: 5px;">
            <p class="centered small-font" style="margin-bottom: 5px;">Tel: +993 (12) 449500</p>
            <p class="centered small-font" style="margin-bottom: 5px;">Faks: +993 (12) 449501/59</p>
            <hr style="margin: 5px;">
            <p class="centered small-font" style="margin-bottom: 5px;">E-mail: info@oguzkenthotel.com</p>
            <hr style="margin: 5px;">
            <div class="centered">
                <a class="small secondary button" href="/{{ lang_prefix }}/contacts/" class="centered" style="margin-top: 5px; margin-bottom: 0px;">
                    Otel bilen habarlaşmak
                </a>
            </div>
        </div>
    </div>

{% endblock %}