{% load staticfiles %}

{% block sidecontact-ru %}

    <div class="small-12 columns">
        <div class="sidebar-b">
            <p class="centered">
                Отель "OGUZKENT"- Туркменистан, 744000 Ашхабад, ул. Битарап Туркменистан, 231
            </p>
            <hr>
            <p>Тел: +993(12) 44-95-00</p>
            <hr>
            <p>Моб: +993(64) 06-93-95</p>
            <hr>
            <div class="centered">
                <a class="small secondary button" href="/{{ lang_prefix }}/contacts/" class="centered">Связаться с отелем</a>
            </div>
        </div>
    </div>

{% endblock %}