{% load staticfiles %}

{% block simsuite-ru %}
    <div class="sidebar-b">
        <h5 class="primary-color centered">Номера Отеля</h5>
        <hr>
    {% for simsuite in simsuites %}
    <h6>
        {% if simsuite.id == suite.id %}
        <a href="/ru/accommodation/{{ simsuite.id }}/" ><strong>{{ simsuite.suite_title }}</strong></a>
        {% else %}
        <a href="/ru/accommodation/{{ simsuite.id }}/" >{{ simsuite.suite_title }}</a>
        {% endif %}
    </h6>
    {% endfor %}
    </div>
{% endblock %}