<div class="light-gray-bg">
	<div class="row">
		<div class="medium-10 columns">
			<ul class="vertical medium-horizontal menu" data-responsive-menu="accordion medium-dropdown" style="padding: 10px 0px;">
				<li>
					<button formaction="/mega-admin/module/module-manager/" class="button tiny success">
						<fa class="fa fa-plus-circle"></fa> Save & close
					</button>
				</li>
				<li>
					<button type="submit" class="button tiny success">
						<fa class="fa fa-plus-circle"></fa> Save & edit
					</button>
				</li>
				<li class="padding-0-20">
					<a href="/mega-admin/module/module-manager/" class="button tiny alert" style="padding: 8px;">
						<fa class="fa fa-close"></fa> cancel
					</a>
				</li>
			</ul>
			<script>
				$(window).on('changed.zf.mediaquery', function () {
					$('.is-dropdown-submenu.invisible').removeClass('invisible');
				});
			</script>
		</div>
	</div>
</div>