{% load staticfiles %}


<div class="mega-admin-footer">
	<div class="dark-bg">
		<div class="row">
			<div class="medium-2 columns">
				<h6 class="logo-text">
					<a href="/" target="_blank">
						<fa class="fa fa-terminal"></fa>
						View Site
					</a>
				</h6>
			</div>
			<div class="medium-6 columns">
				<ul class="vertical medium-horizontal menu" data-responsive-menu="accordion medium-dropdown">
					<li>
						<a href="#">TMW CMS site</a>
					</li>
					<li>
						<a href="#">Docs</a>
					</li>
					<li>
						<a href="#">Tutorials</a>
					</li>
					<li>
						<a href="#">About</a>
					</li>
				</ul>
			</div>
			<div class="medium-4 columns right">
				<p class="logo-text righted">
					Copyright 2013-2018
					<fa class="fa fa-copyright"></fa>
					All Rights Reserved.
				</p>
			</div>
		</div>
	</div>
</div>