{% load staticfiles %}

<div class="dashboard-sidebar">
	<p>
		Content
	</p>

	<a href="#">
		<i class="fa fa-edit"></i> New Article
	</a>

	<a href="#">
		<i class="fa fa-file"></i> Articles
	</a>

{#	<a href="#">#}
{#		<i class="fa fa-folder"></i> Sections#}
{#	</a>#}

	<a href="/mega-admin/content/category-manager/">
		<i class="fa fa-folder-open"></i> Categories
	</a>

	<a href="#">
		<i class="fa fa-image"></i> Media Manager
	</a>

</div>

<div class="dashboard-sidebar">
	<p>
		Structure
	</p>

	<a href="/mega-admin/menus">
		<i class="fa fa-list"></i> Menus
	</a>

	<a href="/mega-admin/menu-items/">
		<i class="fa fa-list-alt"></i> Menu Items
	</a>

	<a href="/mega-menu/modules/">
		<i class="fa fa-cube"></i> Modules
	</a>

</div>

<div class="dashboard-sidebar">
	<p>
		Users
	</p>

	<a href="#">
		<i class="fa fa-users"></i> Users
	</a>

</div>

<div class="dashboard-sidebar">
	<p>
		Configuration
	</p>

	<a href="#">
		<i class="fa fa-cog"></i> Global
	</a>

	<a href="#">
		<i class="fa fa-eye"></i> Template
	</a>

	<a href="/mega-admin/languages/">
		<i class="fa fa-globe"></i> Languages
	</a>

</div>

<div class="dashboard-sidebar">
	<p>
		Extensions
	</p>

	<a href="#">
		<i class="fa fa-download"></i> Install extensions
	</a>

</div>

<div class="dashboard-sidebar">
	<p>
		Maintenance
	</p>

	<a href="#">
		<i class="fa fa-joomla"></i> TMW CMS Maintenance
	</a>

</div>