{% load staticfiles %}

{% block footer-ru %}

<footer class="footer">

	<div class="row">

		<div class="small-12 medium-6 large-5 columns">

			<h2 class="white">TURKMENWEB.<span class="secondary-color">PRO</span></h2>
<!--			<p class="logo"><img src="img/logo.png" style="max-width: 330px;"></p> -->

			<p class="footer-links">

				<a href="/">Главная</a>
				
				<a href="/development/">WEB Разработка</a>
				
				<a href="/ssl/">SSL Сертификаты</a>
			</p>

			<p class="footer-links">
				
				<a href="/avast/">AVAST Антивирус</a>

				<a href="/faq/">Вопросы и ответы</a>

				<a href="/support/">Тех. поддержка</a>

			</p>

			<p style="padding-top: 6px;">
				<img src="/static/img/system/secure.png" align="left" style="height: 45px; width: auto; padding: 5px;">
				<img src="/static/img/system/avastauthorized.png" align="left" style="height: 50px; width: auto; padding: 5px;">
				<img src="/static/img/system/visa-master.png" align="left" style="height: 42px; width: auto; padding: 5px;">
			</p>

    </div>

    <div class="small-12 medium-6 large-4 columns">

      <ul class="contact">

        <li><p><i class="fa fa-phone"></i>+993(68) 53-23-53</p></li>

        <li><p><i class="fa fa-envelope" style="padding-left: 7px;"></i>info@turkmenweb.pro</p></li>

        <li><p><i class="fa fa-envelope" style="padding-left: 7px;"></i>support@turkmenweb.pro</p></li>

      </ul>

    </div>

    <div class="small-12 medium-12 large-3 columns">

      <p class="about white">TURKMENWEB.PRO</p>

      <p class="subheader" style="font-size: 16px; padding-bottom: 20px;">
      	Мы делаем интернет красивее и безопаснее
      </p>

      <ul class="inline-list social">

        <a href="#"><fa class="fa fa-facebook"></fa></a>

        <a href="#"><fa class="fa fa-odnoklassniki"></fa></a>

        <a href="#"><fa class="fa fa-vk"></fa></a>

        <a href="#"><fa class="fa fa-twitter"></fa></a>

      </ul>

    </div>

  </div>
<hr style="border: 1px solid #EDBA0A; max-width: 100%;">
<span class=" white subheader centered" style="font-size: 14px;">
	Copyright © 2016 - 2017. Turkmenweb.Pro - Грамотный подход к серьезным вопросам
</span>
<hr style="border: 1px solid #EDBA0A; max-width: 100%; margin-bottom: 0px;">
</footer>

{% endblock %}