{% extends "mega_admin_main.html" %}
{% load staticfiles %}

{% block main-wrapper %}
	{% include "mega_admin_top_menu.html" %}
	{% include "content_caption.html" %}

	<form action="/mega-admin/content/save-category/" method="post" name="category-save-form">
		{% csrf_token %}
		{% include "content_add_category_submenu.html" %}


		<div class="row padding-20-0" data-equalizer="mega_admin_wrapper">
			<div class="medium-8 columns" data-equalizer-watch="mega_admin_wrapper">
				<div class="row">
					<div class="medium-12 columns white-bg" style="border: 1px solid #cecece; border-radius: 10px;">
						<div class="padding-20-0">
							<div class="row">
								<div class="medium-12 columns">
									<label>
										Title *
										<input type="text" placeholder="Category title" name="article_category_title"
										       value="{{ current_category.article_category_title }}" required>
									</label>
									<hr>
									<label>
										Description
										<textarea id="summernote"
										          name="article_category_description">{{ current_category.article_category_description }}</textarea>
									</label>

									<hr>
									<label>
										Note (optional)
										<input type="text" placeholder="You can add note here"
										       name="article_category_note"
										       value="{{ current_category.article_category_note }}">
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="medium-4 columns" data-equalizer-watch="mega_admin_wrapper">
				<div class="row">
					<div class="medium-12 columns">

						<div class="dashboard-sidebar">
							<label style="margin-top: 10px;">
								Alias*
								<input type="text" placeholder="Category alias" name="article_category_alias"
								       value="{{ current_category.article_category_alias }}" required>
							</label>

							<div class="clearfix"></div>
							<div class="float-left">
								<label>Category is published</label>
							</div>
							<div class="switch tiny float-right">
								{% if current_category.article_category_published == 1 %}
									<input class="switch-input" id="yes-no" type="checkbox"
									       name="article_category_published" checked>
								{% elif current_category.article_category_published == 0 %}
									<input class="switch-input" id="yes-no" type="checkbox"
									       name="article_category_published">
								{% else %}
									<input class="switch-input" id="yes-no" type="checkbox"
									       name="article_category_published" checked>
								{% endif %}
								<label class="switch-paddle" for="yes-no">
									<span class="switch-active" aria-hidden="true">Yes</span>
									<span class="switch-inactive" aria-hidden="true">no</span>
								</label>
							</div>
							<div class="clearfix"></div>
							<label>
								Parrent category
								<select name="article_category_parent">
									<option value="">
										No parrent category
									</option>
									{% for category in categories %}
										<option value="{{ category.id }}">
											{{ category.article_category_title }}
										</option>
									{% endfor %}
								</select>
							</label>
							<div class="clearfix"></div>
							<label>
								Select Language
								<select name="article_category_language" required>
									{% for language in languages %}
										{% if language.lang_sef == "xx" %}
											<option value="{{ language.id }}" selected>
												{{ language.lang_title_native }}
											</option>
										{% else %}
											<option value="{{ language.id }}">
												({{ language.lang_sef }}) {{ language.lang_title_native }}
											</option>
										{% endif %}
									{% endfor %}
								</select>
							</label>
							<div class="clearfix"></div>
							<label>
								Meta Key Words (use ',' for multiple)
								<input type="text" name="article_category_metakey">
							</label>
							<textarea name="article_category_metadesc" rows="5" maxlength="2000"></textarea>
							<p>
								{% if current_category != None %}
									<input type="text" value="{{ current_category.id }}" class="hidden" name="article_category_id">
								{% endif %}
							</p>
						</div>
					</div>
				</div>
			</div>
	</form>
	/mega-admin/content/save-category/ <br>
	{{ current_category.id }}
	</div>
{% endblock %}